body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section.top-banner {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
div.half-width {
    width: 50%;
    padding-left: 5%;
}
.half-width img {
    width: 80%;
}
h1 span.orange {
    color: orange;
}
h1 {
    font-size: 50px;
}
p {
    margin-bottom: 30px;
    line-height: 28px;
}
.link-btn {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}