body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.flex-container {
    display: flex;
    margin-bottom: 150px;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width {
    width: 50%;
    padding: 2.5%;
}
.half-width img {
    width: 100%;
}
h1 span.orange {
    color: orange;
}
h1 {
    font-size: 50px;
}
p {
    margin-bottom: 30px;
    line-height: 28px;
}
.link-btn {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}
.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;   
    background-position: right;
    background-color: #f9f9f9;
    padding: 130px 0
}
.dream-big h2 {
    font-size: 40px;
}
.dream-big h3 {
    font-size: 30px
}
.experineces-area h1 {
    text-transform: uppercase;
    padding-left: 2.5%;
}

.experineces-area h3 {
    font-size: 40px;
}

.experineces-area h4 {
    color: orange;
    font-size: 24px;
}

.experineces-area .half-width {
    box-shadow: 5px 7px 40px grey;
    margin: 2.5%;
}

.experineces-area .half-width:first-child, 
.experineces-area .half-width:last-child {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, orange, red);
    border-image-slice: 1;}

.experineces-area .half-width:last-child {
    border-image: linear-gradient(180deg, yellow, tomato);
    border-image-slice: 1;
}